.DS_Store
tmux/plugins/
raycast
fzf
history.txt
nushell/vendor/
ai/opencode.jsonc
ai/node_modules/
ai/package.json
ai/package-lock.json
.opencode/
.gemini/
atuin/atuin-receipt.json
ai/skills/graphify/
